@page
@model Client_BDTN.Pages.Ventes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.CnslId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.CnslId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vente?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
